@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: 'default';
}

@supports (-webkit-touch-callout: none) {
  .safari-disable-scale {
    transform: none !important; /* Disable transform on Safari */
  }
}
